
.column-vendor {
	width: 10%;
}
.bulk-edit-product {
	.inline-edit-author {
		display: none;
	}
	.post_author {
		display: none;
	}
}

.update-plugins {
	.update-count {
		background-color: #d54e21;
		border-radius: 10px;
		color: #fff;
		display: inline-block;
		font-size: 9px;
		font-weight: 600;
		line-height: 17px;
		margin: 1px 0 0 2px;
		padding: 0 6px;
		vertical-align: text-top;
	}
}

// Extensions and Updates 
.wcv_addons_wrap {
	max-width: 1200px;
	margin: auto;
	
	h1.search-form-title {
		clear: left;
		padding: 0;
	}
	h1 { 
		text-align: center;
	}

	.addons-featured {
		margin: 0;
	}
	ul.feature-list {
		list-style: inherit;
		li {
			margin-left: 20px;
		}
	}
	ul.subsubsub.subsubsub {
		margin: -2px 0 12px;
	}
	.subsubsub {
		li {
			&::after {
				content: '|';
			}
			&:last-child {
				&::after {
					content: '';
				}
			}
		}
	}
	.align-center { 
		text-align: center;
	}
	.wcv-logo { 
		max-width: 250px;
		padding-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.addons-banner-block-item-icon {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		background: #ffffff;
		height: 100px;
	}
	.addons-column-block-item-icon {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		background: #f7f7f7;
		border: 1px solid #e6e6e6;
		height: 100px;
		margin: 0 10px 10px 0;
		width: 100px;
	}
	.addons-banner-block {
		background: #ffffff;
		border: 1px solid #ddd;
		margin: 0 0 1em 0;
		padding: 2em 2em 1em;
		img {
			height: 62px;
		}
		p {
			margin: 0 0 20px;
		}
	}
	.addons-wcs-banner-block {
		background: #ffffff;
		border: 1px solid #ddd;
		margin: 0 0 1em 0;
		padding: 2em 2em 1em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.addons-banner-block-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		margin: 0 -10px 0 -10px;
	}
	.addons-banner-block-item {
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin: 1em;
		min-width: 200px;
		width: 30%;
		display: none;
		&:nth-child(-n+3) {
			display: block;
		}
	}
	.addons-banner-block-item-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 24px;
		h3 {
			margin-top: 0;
		}
		p {
			margin: 0 0 auto;
		}
	}
	.addons-wcs-banner-block-image {
		background: #f7f7f7;
		border: 1px solid #e6e6e6;
		margin-right: 2em;
		width: 400px;
		padding: 1em;
		text-align: center;
		.addons-img {
			margin: auto 0;
			max-height: 350px;
			max-width: 350px;
		}
	}
	.addons-shipping-methods {
		.addons-wcs-banner-block {
			margin-left: 0;
			margin-right: 0;
			margin-top: 1em;
		}
	}
	.addons-wcs-banner-block-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-ms-flex-item-align: stretch;
		align-self: stretch;
		padding: 1em 0;
		h1 {
			padding-bottom: 0;
		}
		p {
			margin-bottom: 0;
			text-align: center;

		}
		.wcs-service-logo {
			max-width: 40px;
		}
	}
	.addons-column-section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.addons-column {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		width: 50%;
		padding: 0 .5em;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
	.addons-small-light-block {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #ddd;
		margin: 0 0 1em;
		padding: 20px;
		background: #ffffff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		h1 {
			margin-top: -12px;
		}
		p {
			margin-top: 0;
		}
		img {
			height: 225px;
			margin: 0 0 0 -20px;
		}
	}
	.addons-small-dark-block {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #ddd;
		margin: 0 0 1em;
		padding: 20px;
		background-color: #54687d;
		text-align: center;
		h1 {
			color: #ffffff;
		}
		p {
			color: #fafafa;
		}
	}
	.addons-column-block {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #ddd;
		margin: 0 0 1em;
		padding: 20px;
		background: #ffffff;
		img {
			max-height: 50px;
			max-width: 50px;
		}

		.wcv-columns { 

			padding-top: 20px;
			table {
				border-collapse: collapse;
				border-spacing: 0;
				width: 70%;
				border: 1px solid #ddd;
				margin-top: 20px;
				margin: auto;
			  }
			  
			  th, td {
				text-align: center;
				padding: 16px;
			  }
			  
			  th:first-child, td:first-child {
				text-align: left;
			  }
			  
			  tr:nth-child(even) {
				background-color: #f2f2f2
			  }
			  
			  .fa-check {
				color: green;
			  }
			  
			  .fa-remove {
				color: red;
			  }
		}
	}
	.addons-column-block-left {
		float: left;
	}
	.addons-column-block-right {
		float: right;
	}
	.addons-column-block-item {
		border-top: 2px solid #f9f9f9;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 -20px;
		padding: 20px;
		display: none;
		&:nth-of-type(-n+3) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
	.addons-column-block-item-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 20%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		min-width: 200px;
		h2 {
			float: left;
			margin-top: 8px;
		}
		a {
			float: right;
		}
		p {
			float: left;
		}
	}
	.addons-small-dark-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.addons-small-dark-item {
		margin: 0 0 20px;
		a {
			margin: 28px auto 0;
		}
	}
	.addons-small-dark-item-icon {
		img {
			height: 30px;
		}
	}
	.addons-small-light-block-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100px;
		flex: 1 1 100px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		a {
			width: 48%;
		}
	}
	.addons-small-light-block-buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.product-addons-button {
		cursor: pointer;
		display: block;
		height: 37px;
		line-height: 37px;
		text-align: center;
		text-decoration: none;
		width: 124px;
	}

	.started-button {
		cursor: pointer;
		display: block;
		height: 37px;
		line-height: 37px;
		text-align: center;
		text-decoration: none;
		width: 180px;
		margin: auto;

		svg {
			width: 15px;
			fill: #fff;
			margin-left: 5px;
		}
	}

	.product-addons-button-solid {
		background-color: #005580;
		color: #ffffff;
	}
	.addons-button {
		border-radius: 3px;
		cursor: pointer;
		display: block;
		height: 37px;
		line-height: 37px;
		text-align: center;
		text-decoration: none;
		width: 124px;
	}
	.addons-button-solid {
		background-color: #005580;
		color: #ffffff;
		&:hover {
			color: #ffffff;
			opacity: 0.8;
		}
	}
	.addons-button-outline-green {
		border: 1px solid #73ae39;
		color: #73ae39;
		&:hover {
			color: #73ae39;
			opacity: 0.8;
		}
	}
	.addons-button-outline-white {
		border: 1px solid #ffffff;
		color: #ffffff;
		&:hover {
			color: #ffffff;
			opacity: 0.8;
		}
	}
	.addons-button-installed {
		background: #e6e6e6;
		color: #3c3c3c;
		&:hover {
			color: #3c3c3c;
			opacity: 0.8;
		}
	}
	.colorpickpreview {
		padding: 7px 0;
		line-height: 1em;
		display: inline-block;
		width: 26px;
		border: 1px solid #ddd;
		font-size: 14px;
	}
	.products {
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row;
		flex-flow: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 -.5em;
		li {
			float: left;
			border: 1px solid #ddd;
			margin: 0 .5em 1em !important;
			padding: 0;
			vertical-align: top;
			width: 25%;
			min-width: 280px;
			min-height: 220px;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			overflow: hidden;
			background: #f5f5f5;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			a {
				text-decoration: none;
				color: inherit;
				display: block;
				height: 100%;
				.product-img-wrap {
					background: #fff;
					display: block;
				}
				img {
					max-width: 258px;
					max-height: 24px;
					padding: 17px 20px;
					display: block;
					margin: 0;
					background: #fff;
					border-right: 260px solid #fff;
				}
				img.extension-thumb {
					+ {
						h3 {
							display: none;
						}
					}
				}
				.price {
					display: none;
				}
				h2 {
					margin: 0 !important;
					padding: 20px !important;
					background: #fff;
				}
				h3 {
					margin: 0 !important;
					padding: 20px !important;
					background: #fff;
				}
				p {
					padding: 20px !important;
					margin: 0 !important;
					border-top: 1px solid #f1f1f1;
				}
				&:hover {
					background-color: #fff;
				}
				&:focus {
					background-color: #fff;
				}
			}
		}
	}
	
	// Testimonial Slider 
	/*Carousel*/
	
	.carrousel {
		background: #ffffff;
		text-align: center;
		padding-top: 1em; 
		padding-bottom: 4em;
		max-width: 750px;
		margin: auto;
		position: relative;
		overflow: hidden;
		h1 {
			font-size: 1.5em;
			text-align: center;
			margin: 0.8em 0;
			color: #555555;
		}
		h2 {
			margin: 0;
			margin-top: -1.7em;
			padding: 0;
			font-size: 1em;
			text-align: center;
			color: #bbbbbb;
		}
		.slides {
			width: 400%;
			left: 0;
			padding-left: 0;
			padding-top: 1em;
			overflow: hidden;
			list-style: none;
			position: relative;
			-webkit-transition: transform .5s;
			-moz-transition: transform .5s;
			-o-transition: transform .5s;
			transition: transform .5s;
			li {
				width: 25%;
				position: relative;
				float: left;
			}
		}
		li {
			p {
				margin-top: 0;
			}
			q {
				max-width: 90%;
				margin: auto;
				color: #666666;
				font-size: 1.3em;
				font-weight: bold;
			}
			img {
				width: 3em;
				height: 3em;
				object-fit: cover;
				border-radius: 50%;
				margin-left: -1.5em;
				margin-right: 0.5em;
				vertical-align: middle;
			}
			span.author {
				margin-top: 0.5em;
				font-size: 1.2em;
				color: #777777;
				display: block;
			}
		}
		.slidesNavigation {
			display: block;
			list-style: none;
			text-align: center;
			bottom: 1em;
			position: absolute;
			width: 104px;
			left: 50%;
			margin-left: -52px;
			label {
				float: left;
				margin: 6px;
				display: block;
				height: 10px;
				width: 10px;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				border: solid 2px #2980b9;
				font-size: 0;
				&:hover {
					cursor: pointer;
				}
			}
		}
		input {
			display: none;
		}
		#radio-1 {
			&:checked {
				~ {
					.slidesNavigation {
						label#dotForRadio-1 {
							background: #2980b9;
						}
					}
				}
			}
		}
		#radio-2 {
			&:checked {
				~ {
					.slidesNavigation {
						label#dotForRadio-2 {
							background: #2980b9;
						}
					}
				}
			}
		}
		#radio-3 {
			&:checked {
				~ {
					.slidesNavigation {
						label#dotForRadio-3 {
							background: #2980b9;
						}
					}
				}
			}
		}
		#radio-4 {
			&:checked {
				~ {
					.slidesNavigation {
						label#dotForRadio-4 {
							background: #2980b9;
						}
					}
				}
			}
		}
	}
	#radio-1 {
		&:checked {
			~ {
				.slides {
					transform: translateX(0%);
				}
			}
		}
	}
	#radio-2 {
		&:checked {
			~ {
				.slides {
					transform: translateX(-25%);
				}
			}
		}
	}
	#radio-3 {
		&:checked {
			~ {
				.slides {
					transform: translateX(-50%);
				}
			}
		}
	}
	#radio-4 {
		&:checked {
			~ {
				.slides {
					transform: translateX(-75%);
				}
			}
		}
	}
	@media (max-width: 796px) {
		.carrousel {
			height: 8.5em;
		}
	}
	@media (max-width: 480px) {
		.carrousel {
			li {
				p {
					padding-left: 0.5em;
					padding-right: 0.5em;
				}
				q {
					font-size: 1em;
				}
				img {
					width: 2em;
					margin-left: -1em;
					margin-right: 0.25em;
				}
			}
		}
	}

}

@media only screen and (max-width: 400px) {
	.wcv_addons_wrap {
		.addons-featured {
			margin: -1% -5%;
		}
		.addons-button {
			width: 100%;
		}
		.addons-small-dark-item {
			width: 100%;
		}
		.addons-column-block-item-icon {
			background: none;
			border: none;
			height: 75px;
			margin: 0 10px 10px 0;
			width: 75px;
		}
	}
}
